:root {
	--titlebar: #2F2F2F;
	--bg1: #353535;
	--bg2: #383838;
	--bg3: #404040;
	--lightorange: #CC9560;
	--darkorange: #BF864F;
	--lightgrey: #DADADA;
	--darkgrey: #8F8F8F;
	--cyan: #33FFFF;
	--debug: #F60DA2;
}


/*Server List*/
	.scroller-2TZvBN {
	    background-color: var(--titlebar);
	}

    /*Home Button*/
		.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 { /*Selected*/
		    color: white;
		    background-color: var(--darkorange);
		}
		.childWrapper-anI2G9 { /*Unselected*/
		    background-color: var(--bg3);
		    color: var(--lightgrey);
		}

    /*Folders*/
		.folder-21wGz3.hover-2ji_A7 { /*Hover*/
		    background-color: var(--bg2);
		}
		.expandedFolderBackground-2sPsd- { /*Expanded Background*/
		    background-color: var(--bg3);
		}
		.folder-21wGz3 { /*Icon Background*/
		    background-color: var(--bg3);
		}

    /*Server Add & Discovery Buttons*/
		.circleIconButton-jET_ig { /*Unselected*/
		    color: var(--lightgrey);
		    background-color: var(--bg3);
		}
		.circleIconButton-jET_ig.selected-ugP_am { /*Selected*/
		    color: var(--lightgrey);
		    background-color: var(--darkorange);
		}


/*User Panel*/
.panels-j1Uci_ {
    background-color: var(--titlebar);
}

.button-14-BFJ { /*Buttons*/
    color: var(--lightgrey);
}
.button-14-BFJ.enabled-2cQ-u7:hover { /*Hover*/
    color: var(--lightgrey);
    background-color: var(--bg3);
}

/*Text*/
.colorStandard-2KCXvj { /*Username*/
    color: var(--lightgrey);
}
.subtext-3CDbHg { /*Status Message & Usertag*/
    color: var(--darkgrey);
}

/*Scrollbar*/
    .fade-2kXiP2::-webkit-scrollbar-thumb, .fade-2kXiP2::-webkit-scrollbar-track {
        visibility: visible;
    }
    .thin-1ybCId::-webkit-scrollbar-track { /*Left Track*/
        border-color: var(--titlebar);
        background-color: var(--titlebar);
        border: var(--titlebar);
    }
    .thin-1ybCId::-webkit-scrollbar-thumb { /*Left Thumb*/
        background-color: var(--darkorange);
    }

/*Pop-up menus*/
	.menu-3sdvDG { /*Drop-down menu*/
		background: var(--bg3);
	}

	.theme-dark .root-1gCeng { /*Pop-up Windows*/
		background-color: var(--titlebar);
	}
