:root {
    --titlebar: #2F2F2F;
    --bg1: #353535;
    --bg2: #383838;
    --bg3: #404040;
    --lightorange: #CC9560;
    --darkorange: #BF864F;
    --lightgrey: #DADADA;
    --darkgrey: #8F8F8F;
    --cyan: #33FFFF;
    --debug: #F60DA2;
}


/*Core*/
    .sidebarRegionScroller-3MXcoP { /*Left Background*/
        background: var(--titlebar);
    }
    .contentRegionScroller-26nc1e { /*Right Background*/
        background-color: var(--bg2);
    }

    .header-2RyJ0Y { /*Category Text Color*/
        color: var(--darkgrey);
    }
    .themed-OHr7kt.item-PXvHYJ { /*Subcategory Text Color*/
        color: var(--lightgrey);
    }

    .separator-gCa7yv { /*Seperators*/
        background-color: var(--bg3)
    }

	.themed-OHr7kt.item-PXvHYJ { /*Text Color*/
		color: var(--lightgrey);
	}
	.themed-OHr7kt.item-PXvHYJ:hover { /*Text Color on Hover*/
		color: var(--lightgrey);
	}
	
	.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
		background-color: var(--darkorange) !important;
	}
	.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb), .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) {
		background-color: var(--bg2);
	}


/*User Settings*/
    /*My Account*/
		.background-1QDuV2 { /*Background 1*/
    		background-color: var(--titlebar);
		}
		.fieldList-21DyL8 { /*Background 2*/
   			background-color: var(--bg1);
		}

		.defaultColor-1_ajX0 { /*MY ACCOUNT, PASSWORD AND AUTHENTICATION*/
			color: var(--lightgrey);
		}

		.colorHeaderPrimary-26Jzh- { /*Username, email, phone number CONTENT*/
			color: var(--lightgrey);
		}
		.colorHeaderSecondary-3Sp3Ft { /*Usertag*/
			color: var(--darkgrey);
		}

		.menu-319q29 { /*Triple-dots*/
			color: var(--lightgrey);
		}

		.h5-18_1nd { /*USERNAME, EMAIL, PHONE NUMBER, etc*/
			color: var(--darkgrey);
		}
		
		.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 { /*"Remove" phone number*/
			color: var(--lightgrey);
		}

		.lookFilled-1Gx00P.colorGrey-2DXtkV { /*"Edit" buttons*/
			color: var(--lightgrey);
			background-color: var(--bg3);
		}
		.lookFilled-1Gx00P.colorGrey-2DXtkV:hover { /*Ditto, hovering*/
			background-color: var(--darkorange);
		}

		.lookLink-9FtZy-.colorLink-35jkBc { /*"Reveal" text*/
			color: var(--cyan);
		}

		.lookFilled-1Gx00P.colorBrand-3pXr91 { /*Change Password, Enable 2FA*/
			color: var(--lightgrey);
			background-color: var(--bg3);
		}
		.lookFilled-1Gx00P.colorBrand-3pXr91:hover { /*Ditto, hovering*/
			background-color: var(--darkorange);
		}

		.userSettingsSecurityImage-21pI_Q { /*Security Image*/
			opacity: 0;
		}


	/*BetterDiscord*/
		.theme-dark #bd-settings-sidebar .ui-tab-bar-separator { /*BD Seperator*/
			background-color: var(--bg3);
		}
		.theme-dark #bd-settings-sidebar .ui-tab-bar-header { /*"BANDAGED BD"*/
			color: var(--darkgrey);
		}
		.theme-dark #bd-settings-sidebar .ui-tab-bar-item { /*Text Color: Settings, Emotes, Plugins, Themes, Custom CSS*/
			color: var(--lightgrey);
		}
		.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover { /*Button Hover*/
			background-color: var(--bg2);
			color: var(--lightgrey);
		}
		.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected { /*Button Selected*/
			background-color: var(--darkorange);
			color: var(--lightgrey);
		}
